{% extends "_base/base_site.html" %}
{% load static %}

{% block title %} | Basique Info. {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- Select 2 css -->
<link rel="stylesheet" href="{% static 'template/files/bower_components/select2/css/select2.min.css' %}" />
<!-- Multi Select css -->
<link rel="stylesheet" type="text/css"
    href="{% static 'template/files/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" type="text/css"
    href="{% static 'template/files/bower_components/multiselect/css/multi-select.css' %}" />

{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content" data-intro="The main page" data-step="6">
    <!-- [ breadcrumb ] start -->
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="fa fa-database bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Data Source</h5>
                        <span>Modification</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title breadcrumb-padding">
                        <li class="breadcrumb-item">
                            <a href=""><i class="fa fa-database"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Modifier les information de Document (Mémoire)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <!-- [ page content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Data Source</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li class="first-opt"><i
                                                    class="feather icon-chevron-left open-card-option"></i></li>
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                            <li><i class="feather icon-trash close-card"></i></li>
                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p>Veuillez remplir tous les champs obligatoires<code>(*)</code></a></p>
                                    <br />
                                    <form action="" method="post" class="" style="color: #2A3F54;" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div  class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">CODE
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.code_data }}
                                            </div>
                                            <div class="col-sm-1">
                                                <code>(*)</code>
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <label class="form-label col-sm-1 col-form-label">Titre
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.title }}
                                            </div>
                                            <div class="col-sm-1">
                                                <code>(*)</code>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">Doc
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.doc }}
                                            </div>
                                            <div class="col-sm-1">
                                                {% if doc_path %}
                                                <code style="margin-top:15px;" >
                                                    <a target="_blank" style="color: crimson; margin-left: 5px; margin-right: 5px;"
                                                        href="../../../media/{{ doc_path }}">
                                                        <i class="fa fa-file-pdf-o"></i>
                                                    </a>
                                                </code>
                                                {% else %}
                                                    <code>(*)</code>
                                                {% endif %}
                                            </div>
                                        </div>
                                       
                                        <div class="row mt-4">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10" style="font-weight: bold;">
                                               <hr>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>

                                        <div class="row mb-4 mt-2">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-11" style="font-weight: bold;">
                                                Discripteur & Liens Descripteurs Locaux
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-4">
                                            <label class="form-label col-sm-1 col-form-label">Titre extrait
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.titres_pages_de_garde }}
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">Code PG
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.codes_pages_de_garde }}
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">Type
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.liens_descripteurs_locaux_type }}
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">Nombre paragraphes
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.nombre_paragraphe }}
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">Nombre phrases
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.nombre_phrase }}
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label">Nombre mots
                                                :</label>
                                            <div class="col-sm-10">
                                                {{ datasourceForm.nombre_mot }}
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>




                                        <div id='location'></div>

                                        {% if messages %}
                                        <br>
                                        <div class="row mb-3">
                                            <label class="form-label col-sm-1 col-form-label"></label>
                                            <div class="col-sm-10">
                                        {% for message in messages %}

                                                {% if message.tags == "success" %}
                                                <span style="margin-left: 10px; color: darkgreen; "><i style="margin-right: 10px;" class="fa fa-check-circle-o"></i> {{message}}</span>
                                                
                                                {% elif message.tags == "warning" %} 
                                                <span style="margin-left: 10px; color:orange; "><i style="margin-right: 10px;" class="fa fa-question-circle"></i>{{message}}</span>
                                                {% elif message.tags == "info" %}
                                                <span style="margin-left: 10px; font-weight: bold; color:darkslategrey; "><i style="margin-right: 10px;" class="fa fa-exclamation"></i>{{message}}</span>
                                                {% else %}
                                                <span style="margin-left: 10px;color:rgb(206, 67, 33); "><i style="margin-right: 10px;" class="fa fa-exclamation-triangle"></i>{{message}}</span>
                                                {% endif %}

                                        {% endfor %}
                                        <br>
                                    </div>

                                </div>
                                        {% endif %}

                                        <div class="form-group mt-5">
                                            <div class="col-md-3 col-md-offset-3" style="float: right;">
                                                <div class="col-md-9 col-md-offset-3 text-right">
                                                    <button type="submit" class="btn btn-primary">
                                                        Insérer <i style="margin-left: 10px;" class="ti-angle-double-right"></i> </button>
                                                </div>
                                            </div>
                                            <br><br>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- [ page content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'template/files/bower_components/modernizr/js/modernizr.js' %}"></script>
<script type="text/javascript"
    src="{% static 'template/files/bower_components/modernizr/js/css-scrollbars.js' %}"></script>
<!-- Select 2 js -->
<script type="text/javascript"
    src="{% static 'template/files/bower_components/select2/js/select2.full.min.js' %}"></script>
<!-- Multiselect js -->
<script type="text/javascript"
    src="{% static 'template/files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js' %}">
    </script>
<!-- Custom js -->
<script src="{% static 'template/files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>


<script>


    function makeid(length) 
    {
        let result = '';
        const characters = 'ABCDEFGHJKLMNPQRSTUVWXYZ123456789';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
        counter += 1;
        }
        return result;
    }

    var ref = new Date();
    var x = ("0" + (ref.getMonth() + 1)).slice(-2) + ("0" + (ref.getDate() + 2)).slice(-2) + ("0" + (ref.getHours() + 2)).slice(-2) + ("0" + (ref.getMinutes() + 2)).slice(-2) + ("0" + (ref.getSeconds() + 2)).slice(-2);



</script>

{% endblock javascripts %}